.user-pin-reps {
    display: grid;
    grid-template-columns: 16px 648px 16px;
    overflow: hidden;
    height: 180px;
    background-color: gray;
    width: 680px;
    margin: 0 auto 0;
    padding: 16px;
}

#slider {
    display: flex;
    transition: 0.45s ease-in-out;
}

#slider .rep {
    margin-bottom: 0;
    min-width: 187px;
    max-width: 284px;
}

.rep {
    overflow: hidden;
    padding: 12px;
    margin-right: 16px;
    margin-bottom: 16px;
    height: 154px;
    min-width: 284px;
    max-width: 284px;
    background-color: white;
    animation: scaleDown 0.2s ease;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.5);
}

.rep p {
    margin-top: 8px;
}

.rep .description {
    margin-top: 12px;
}

.rep a {
    display: block;
    margin-bottom: 8px;
}

.rep:hover {
    animation: scaleUp 0.4s ease;
    animation-fill-mode: forwards;
}


#prevBtn {
    z-index: 2;
    margin: auto 0;
}

#nextBtn {
    z-index: 2;
    margin: auto 0;
}

@keyframes scaleUp{
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@keyframes scaleDown {
    from {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.circle {
    display: inline-block;
    border-radius: 50%;
    background-color: salmon;
    width: 16px;
    height: 16px;
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    margin-right: 8px;
}

.user-reps {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 32px 16px;
    width: 648px;
    min-height: 220px;
    background-color: white;
    margin: 0px auto;
}